mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin menu(className, items, activeItem)
  nav(class=`${className}`)
    ul(class=`${className}__list`)
      each item, ndx in items
        li(class=`${className}__item` + ( (ndx === activeItem) ? ` ${className}__item--active` : ''))
          a(class=`${className}__link` href="#")= item

mixin socials(className)
  div(class=`${className}`)
    ul(class=`${className}__list`)
      each social in ['insta', 'vk', 'github']
        li(class=`${className}__item`)
          a(class=`${className}__link ${className}__link--${social}` href="#")
            +icon(`${social}`)

mixin circle-gradient()
  defs
    lineargradient#gradient
      stop(offset='0%' stop-color='#d47c1d')
      stop(offset='100%' stop-color='dc9322')

mixin pagination(className)
  ul(class=`${className}__previews`)
    each num in ['1', '2', '3', '4']
      li(class=`${className}__preview`)
        button(class=`${className}__btn ${className}__btn--${num}`)
